@model ProductViewModel
                        
                 <div class="col-lg-3 col-md-12 mb-4 ">
                    <div class="card">
                        <a asp-controller="Product" asp-action="Details" asp-route-id=@Model.Id>
                        <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                            data-mdb-ripple-color="light">
                            @{var a=0;}
                            @foreach(var item in @Model.ImageUrls){
                                @if(@a==0){
                             <img src="~/img/@item.ImageUrl"
                                class="w-100" style="width: 400px; height:200px" />
                                a++;
                                }
                            }
                           

                        </div>
                        <div class="py-2">
                            <a href="#!">
                                <div class="mask">
                                    <div class="d-flex justify-content-start align-items-end h-100">
                                        <h5><span class="badge bg-primary ms-2">Popüler</span></h5>
                                        @if(@Model.GenderId==1){
                                        <h5><span class="badge bg-danger ms-2">Erkek</span></h5>     
                                        }else{
                                        <h5><span class="badge bg-warning ms-2">Kadın</span></h5>
                                        }
                                    </div>
                                 </div>
                                @* <div class="hover-overlay">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </div> *@
                            </a>
                        </div>
                        <div class="card-body">
                                <h5 class="card-title mb-3">@Model.Name</h5>
                            <p>
                                @{int index = Model.Description.IndexOf(".");}
                                @if(index!=-1){
                                @Model.Description.Substring(0,index)
                                }else{
                                    @Model.Description
                                }
                            </p>
                            <h6 class="mb-3">@Model.Price <i class="fa-solid fa-turkish-lira-sign"></i></h6>
                        </div>
                        </a>
                    </div>
                </div>
                
            
