@model OrderViewModel
@* 
 <div class="row border border-b pb-3 pt-4 mb-3">
                <div class="col-lg-3 col-md-12 mb-lg-0">
                   <img src="~/img/@Model.ImageUrl"
                      class="w-100 d-block rounded" style="width: 100px; height:180px" /> 
                </div>

                <div class="col-lg-5 col-md-6 mb-lg-0">
                  <div class="d-flex flex-column">
                  <p> <span class="text-muted">Ürün Adı: </span><strong>@Model.Name.ToString().ToUpper()</strong></p>
                  <p><span class="text-muted">Birim Fiyatı:</span> <strong>@Model.Price</strong> </p>
            <p> <span class="text-muted">Adet: </span><strong>@Model.Quantity</strong></p>
            <p> <span class="text-muted">Sipariş Durumu: </span><strong>@ViewBag.OrderStates[Model.orderState]</strong></p>
                  </div>
                  
                </div>
   
                <div class="col-lg-4 col-md-12 ">
                
                  <p class=" text-md-center me-0">
                    @if(Model.Price*Model.Quantity >750){
                      <div class="d-flex flex-column ms-5 gap-3">

                      <span>
                    <span class="text-muted ms-1">Sipariş Tutarı:</span> <strong>@(Model.Price * Model.Quantity)</strong> <i class="fa-solid fa-turkish-lira-sign"></i>
                      </span>

                       <p> <span class="text-muted ms-0">Sipariş Tarihi: @Model.OrderDate</span></p>
                      </div>
                    
                    }else{
                      <div class="d-flex flex-column ms-5 gap-3">
                        <span>
                        <span class="text-muted">Sipariş Tutarı:</span> <strong> @((Model.Price * Model.Quantity)+29.99)</strong><i class="fa-solid fa-turkish-lira-sign"></i>
                        </span>
                           <p> <span class="text-muted ">Sipariş Tarihi: @Model.OrderDate</span></p>
                      </div>
                    }
                  </p>

                </div>

              </div> *@
