@model OrderAdminViewModel


@* @Model.OrderId
@Model.Address
@Model.Phone
@Model.Note
@foreach (var item in Model.orderItemDetailModels)
{
  @item.Price
  @item.Quantity
  @(item.Price * item.Quantity)
} *@

<section class="h-100 gradient-custom">
  <div class="container py-4">
    <div class="row d-flex justify-content-between my-4">
      <div class="col-md-8">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0">Sipariş İçeriği</h5>
          </div>
          <div class="card-body">
            @foreach(var item in Model.orderItemDetailModels){
           
                @await Html.PartialAsync("_orderItemDetailAdmin",item)
            }

          </div>
        </div>

      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0">Kargolama Bilgileri</h5>
          </div>
          <div class="card-body">
            <div><span class="text-muted">Ad-Soyad: </span>@Model.FirstName @Model.LastName</div>
            <div><span class="text-muted">Telefon: </span>@Model.Phone</div>
            <div><span class="text-muted">Ad-Soyad: </span>@Model.FirstName @Model.LastName</div>
            <div><span class="text-muted">Email: </span>@Model.Email</div>
            <div><span class="text-muted">Not: </span>@Model.Note</div>
            <div><span class="text-muted">Adres: </span>@Model.Address</div>
            
          </div>
        </div>

      </div>
    </div>

  </div>
  
</section>


@* <section class="h-100 gradient-custom">
<div class="container py-5">
<div class="row d-flex justify-content-between my-4">
<div class="col-md-8">
<div class="card mb-4">
<div class="card-header py-3">
<h5 class="mb-0">Siparişlerim</h5>
</div>
<div class="card-body">


@foreach (var item in Model)
{
@await Html.PartialAsync("_orderItem", item)
}

</div>
</div>

</div>
</div>

</div>
</section>
*@
